v-env
.env
!.env.example

node_modules
__pycache__
v-env
.DS_Store
aws_cf_deploy_anything_llm.json
yarn.lock
*.bak
/.vs/Baruk.ChatInDoc.Projects/FileContentIndex
/.vs/Baruk.ChatInDoc.Projects/v17
/.vs
